#portrait,
#paysage {
    display: none;
}

@font-face {
    font-family: "Lato";
    src: url("Font/Lato-Light.ttf") format("truetype");
}

.bloc1 {
    background-color: #F7F7F7;
    color: black;
}

.bloc2 {
    background-color: white;
    color: #B3B3B3;
}

.bloc1,
.bloc2 {
    padding-top: 10vh;
    text-align: center;
    font-size: 12vh;
    height: 100vh;
}

.point {
    background-color: #EA4C4D;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 7px;
    display: none;
}

body {
    font-family: "Lato";
}

.globalScore1,
.globalScore2 {
    color: #EA4C4D;
    font-size: 12vh;
}


/**creation du dé**/

.carre {
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    width: 20vh;
    height: 20vh;
}

.pointD {
    background-color: white;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    float: left;
    margin: 1.21vh;
}

.rectangle {
    background-color: #EA4C4D;
    display: inline-block;
    margin-top: 2vh;
    width: 35%;
}

.current {
    color: black;
    font-size: 4vh;
    padding-top: 5px;
}

.scoreCurrent1,
.scoreCurrent2 {
    color: white;
    font-size: 6vh;
}

#newGame {
    position: absolute;
    z-index: 10;
    left: 45%;
    top: 5%;
}

#dé {
    position: absolute;
    z-index: 9;
    left: 45%;
    top: 30vh;
}

#lancerD {
    position: absolute;
    z-index: 8;
    left: 45%;
    top: 70vh;
}

#hold {
    position: absolute;
    z-index: 7;
    left: 45%;
    top: 78vh;
}

#newGame,
#lancerD,
#hold {
    font-size: 3vh;
}

.orientation {
    text-align: center;
    font-size: 3vh;
}